# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

---

version: 2.1

jobs:
  build:
    docker:
      - image: cimg/rust:1.92
    steps:
      - run:
          name: Test
          command: |
            echo it runs

workflows:
  version: 2
  ci:
    jobs:
      - hold:
          type: approval
          filters:
            branches:
              ignore:
                - main
                - release
      - build:
          requires:
            - hold
          filters:
            branches:
              ignore:
                - main
                - release
