name: On-Comment

on:
  pull_request_review_comment:
    types: [created]
  issue_comment:
    types: [created]

jobs:
  manual_invocation:
    if: |
      github.event.issue.pull_request && startsWith(github.event.comment.body, '/approve')
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
      checks: read
    steps:
      - name: Run approval on comment
        env:
          CIRCLE_TOKEN: ${{ secrets.CIRCLE_TOKEN }}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          PR_NUMBER: ${{ github.event.issue.number }}
          ACTOR: ${{ github.actor }}
        run: |
          set -x
          permission=$(gh api /repos/badboy/test-repo/collaborators/${ACTOR}/permission | jq -r .permission)
          if [[ "$permission" = "admin" ]] || [[ "$permission" = "write" ]]; then
            true
          else
            echo "User without permission. Ignoring."
            exit 0
          fi

          statuses_url=$(gh api "/repos/badboy/test-repo/pulls/${PR_NUMBER}" | jq -r .statuses_url)
          curl --no-progress-meter "$statuses_url" > statuses.json

          workflow_url=$(<statuses.json jq '.[] | select(.state=="pending" and .context=="ci/circleci: ci/hold") | .target_url' -r | uniq)
          workflow_id=$(echo "$workflow_url" | cut -d'/' -f 5)
          echo "Workflow ID: $workflow_id"

          if [[ -z "$workflow_id" ]]; then
            echo "workflow ID is missing"
            exit 0
          fi

          job_id=$(curl --no-progress-meter --fail-with-body --request GET \
            "https://circleci.com/api/v2/workflow/$workflow_id/job" \
            --header "Circle-Token: $CIRCLE_TOKEN" | jq -r '.items[] | select(.name=="hold" and .status=="on_hold") | .id')

          if [[ -z "$job_id" ]]; then
            echo "job ID is missing"
            exit 0
          fi

          echo "Approving job with job ID $job_id"
          curl --no-progress-meter --fail-with-body --request POST \
            "https://circleci.com/api/v2/workflow/$workflow_id/approve/$job_id" \
            --header "Circle-Token: $CIRCLE_TOKEN"
